<!DOCTYPE html>
<HTML>
    <HEAD>
        <TITLE>My Home Page</TITLE>
    </HEAD>
    <body>
        <h1>Alpha-Blog Homepage</h1>
          <%= link_to image_tag('udemy-1.jpg'), about_path %><br/>
          <%=link_to 'Enter Blogosphere', articles_path %> | <%=link_to 'Click here to learn about US!', about_path %>

          
        <footer>
            <p>Posted by: Denny Heath:  August 2018</p>
            <p>Contact information: <a href="mailto:dheath@example.com">dheath@example.com</a>.</p>
        </footer>
    </body> 
</html>